
:root {
    --mainColor: #15202B;
    --secondaryColor: #192734;
    --mainTextColor: #ffffff;
    --secondaryTextColor: #eeeeee;
    --borderColor: #164D56;
    --themeDotBorder: #ffffff;
    --previewBg: rgba(25,39,52,0.8);
    --previewShadow: #111921;
    --submitBtnColor: #17a2b8;

}
h1,h2,h3,h4,h5,h6{
    color: var(--mainTextColor) !important;
}
p.post-info{
    color: var(--secondaryTextColor) !important;
}
.skills{
    background-color: var(--borderColor);

}
.skills ul li{
    color: #ffffff;
}
.about-wrapper p a {
    margin-right: 5px;
    margin-left: 10px;
    background-color: var(--borderColor);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}

